---
import { Button, SpeakerCard } from '@components';

const speakers = [
  {
    imgSrc: 'assets/speakers/sofia.webp',
    speakerName: 'Sofia Grijalva (condorcoders)',
    speakerInfo: 'Introducción a Gemini con NodeJS',
    speakerBrand: 'assets/speakers/jobs/condorcoders.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/sergio.webp',
    speakerName: 'Sergio Azocar',
    speakerInfo: 'Vue la navaja suiza del front end',
    speakerBrand: 'assets/speakers/jobs/talana.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/dariana.webp',
    speakerName: 'Dariana Gómez',
    speakerInfo: 'De No Sé Nada a Lo Entiendo: Redes Neuronales y Machine Learning con Brain.js',
    speakerBrand: 'assets/speakers/jobs/banco-falabella.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/richard-rodrigo.webp',
    speakerName: 'Richard Baker & Rodrigo Pizarro',
    speakerInfo: 'Nuestro viaje de aplicaciones nativas a PWA',
    speakerBrand: 'assets/speakers/jobs/audienceview.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/goncy.webp',
    speakerName: 'Gonzalo (Goncy) Pozzo',
    speakerInfo: 'Q&A',
    speakerBrand: 'assets/speakers/jobs/vercel.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/franco.webp',
    speakerName: 'Franco Balich',
    speakerInfo: 'Usando JavaScript para Robótica e Internet de las cosas',
    speakerBrand: 'assets/speakers/jobs/itecnis.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/gricel.webp',
    speakerName: 'Gricel Sepúlveda',
    speakerInfo: 'Clean arquitecture en el frontend',
    speakerBrand: 'assets/speakers/jobs/mercadolibre.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/piero.webp',
    speakerName: 'Piero Divasto',
    speakerInfo: 'IA en Javascript',
    speakerBrand: 'assets/speakers/jobs/mercadolibre.webp',
    link: ''
  },
  {
    imgSrc: 'assets/speakers/malva.webp',
    speakerName: 'Martin Manriquez (Hola Soy Malva)',
    speakerInfo: 'Creative code con js ',
    speakerBrand: 'assets/speakers/jobs/blackline.webp',
    link: ''
  }
];

const initialSpeakers = speakers.slice(0, 6);
const hiddenSpeakers = speakers.slice(6);
---

<section class="speakers" id="charlistas-section">
  <div class="speakers-info">
    <h2>NUESTROS CHARLISTAS</h2>
    <p>Únete a la previa de manera online o presencial y disfruta de estas maravillosas charlas.</p>
  </div>

  <div class="speakers-wrapper">
    {
      initialSpeakers.map(speaker => (
        <SpeakerCard
          imgSrc={speaker.imgSrc}
          speakerName={speaker.speakerName}
          speakerInfo={speaker.speakerInfo}
          speakerBrand={speaker.speakerBrand}
          link={speaker.link}
        />
      ))
    }

    <div class="hidden show-flex hidden-speakers">
      {
        hiddenSpeakers.map(speaker => (
          <SpeakerCard
            imgSrc={speaker.imgSrc}
            speakerName={speaker.speakerName}
            speakerInfo={speaker.speakerInfo}
            speakerBrand={speaker.speakerBrand}
            link={speaker.link}
          />
        ))
      }
    </div>
  </div>

  <div class="view-more-btn">
    <Button icon="chevron-down" variant="ghost" color="black" link="#charlistas-section">
      Ver más
    </Button>
  </div>
</section>

<style>
  .speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 8rem 0;

    & .speakers-info {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h2,
      p {
        text-align: center;
      }
    }

    & .speakers-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }

    & .show-flex {
      display: contents;
    }

    & .hidden {
      display: none;
    }
  }
</style>

<script>
  const button = document.querySelector('.view-more-btn');

  button?.addEventListener('click', () => {
    document.querySelector('.hidden-speakers')?.classList.remove('hidden');
    document.querySelector('.view-more-btn')?.classList.add('hidden');
  });
</script>
