---
import { SpeakerCard } from '@components';

const speakers = [
  {
    imgSrc: 'assets/speakers/goncy.webp',
    speakerName: 'Gonzalo (Goncy) Pozzo',
    speakerInfo: 'Panel de Preguntas y Respuestas',
    speakerBrand: 'assets/speakers/jobs/vercel.webp',
    link: '/charlistas/goncy'
  },
  {
    imgSrc: 'assets/speakers/sofia.webp',
    speakerName: 'Sofia Grijalva',
    speakerInfo: 'Introducción a Gemini con NodeJS',
    speakerBrand: 'assets/speakers/jobs/condorcoders.webp',
    link: '/charlistas/sofía-grijalva'
  },
  {
    imgSrc: 'assets/speakers/richard-rodrigo.webp',
    speakerName: 'Richard Baker & Rodrigo Pizarro',
    speakerInfo: 'Nuestro viaje de aplicaciones nativas a PWA',
    speakerBrand: 'assets/speakers/jobs/audienceview.webp',
    link: '/charlistas/rodrigo-ricardo'
  },
  {
    imgSrc: 'assets/speakers/dariana.webp',
    speakerName: 'Dariana Gómez',
    speakerInfo: 'De No Sé Nada a Lo Entiendo: Redes Neuronales y Machine Learning con Brain.js',
    speakerBrand: 'assets/speakers/jobs/banco-falabella.webp',
    link: '/charlistas/dariana-Gomez-reyes'
  },
  {
    imgSrc: 'assets/speakers/franco.webp',
    speakerName: 'Franco Balich',
    speakerInfo: 'Usando JavaScript para Robótica e Internet de las cosas',
    speakerBrand: 'assets/speakers/jobs/itecnis.webp',
    link: '/charlistas/franco-balich'
  },
  {
    imgSrc: 'assets/speakers/francisco.webp',
    speakerName: 'Francisco Mardones',
    speakerInfo: 'Construyendo Aplicaciones Colaborativas con CRDTs en JavaScript',
    speakerBrand: 'assets/speakers/jobs/front.webp',
    link: '/charlistas/francisco-mardones'
  },
  {
    imgSrc: 'assets/speakers/sergio.webp',
    speakerName: 'Sergio Azocar',
    speakerInfo: 'Vue la navaja suiza del front end',
    speakerBrand: 'assets/speakers/jobs/talana.webp',
    link: '/charlistas/sergio-azocar'
  },
  {
    imgSrc: 'assets/speakers/piero.webp',
    speakerName: 'Piero Divasto',
    speakerInfo: 'IA en Javascript',
    speakerBrand: 'assets/speakers/jobs/mercadolibre.webp',
    link: '/charlistas/piero-divasto'
  },
  {
    imgSrc: 'assets/speakers/malva.webp',
    speakerName: 'Martin Manriquez (Hola Soy Malva)',
    speakerInfo: 'Creative code con js ',
    speakerBrand: 'assets/speakers/jobs/blackline.webp',
    link: '/charlistas/holasoymalva'
  },
  {
    imgSrc: 'assets/speakers/gricel.webp',
    speakerName: 'Gricel Sepúlveda',
    speakerInfo: 'Clean arquitecture en el frontend',
    speakerBrand: 'assets/speakers/jobs/mercadolibre.webp',
    link: '/charlistas/#'
  }
];
---

<section class="speakers" id="charlistas-section">
  <div class="speakers-info">
    <h2>NUESTROS CHARLISTAS</h2>
    <p>Únete a la previa de manera online o presencial y disfruta de estas maravillosas charlas.</p>
  </div>

  <div class="speakers-wrapper">
    {
      speakers.map(speaker => (
        <SpeakerCard
          imgSrc={speaker.imgSrc}
          speakerName={speaker.speakerName}
          speakerInfo={speaker.speakerInfo}
          speakerBrand={speaker.speakerBrand}
          link={speaker.link}
        />
      ))
    }
  </div>
</section>

<style>
  .speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 8rem 0;

    & .speakers-info {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h2,
      p {
        text-align: center;
      }
    }

    & .speakers-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }
  }
</style>
