---
const { imgSrc, speakerName, speakerInfo, speakerBrand, link } = Astro.props;

const defaultImgSrc = 'assets/img/misc/speaker-stock.webp';

const speakerImage = imgSrc || defaultImgSrc;
---

<a href={link} class="card-body">
  <div class="speaker">
    <img src={speakerImage} alt={speakerName} class="speaker-avatar" />
    <h3 class="speaker-name">{speakerName}</h3>
  </div>
  <p class="card-info">{speakerInfo}</p>
  <img src={speakerBrand} alt="speaker-brand" class="speaker-brand" />
</a>

<style>
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    gap: 16px;
    padding: 24px;
    border-radius: 16px;
    text-decoration: none;
    background-color: var(--bg-color);
    position: relative;
    transition: transform 0.3s;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(258deg, #121212 7.65%, #1d1b0e 57.4%, #413e21 98.66%);
      border-radius: 16px;
      z-index: -1;
      padding: 3px;
      scale: 1.015;
    }

    .speaker {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .speaker-avatar {
    width: 85px;
    aspect-ratio: 1;
    border: 1px solid var(--white);
    border-radius: 100%;
    filter: grayscale(1);
    transition: filter 0.3s;

    .card-body:hover & {
      filter: grayscale(0);
    }
  }

  .speaker-brand {
    filter: grayscale(1);
    transition: filter 0.3s;
    object-fit: cover;
    max-width: 200px;
    margin: 0 auto;

    .card-body:hover & {
      filter: grayscale(0);
    }
  }

  .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    text-wrap: pretty;
  }

  @media (width <= 768px) {
    .card-body {
      max-width: 100%;
    }
  }
</style>
