---
const { imgSrc, speakerName, speakerInfo, speakerBrand, link } = Astro.props;

const defaultImgSrc = 'assets/img/misc/speaker-stock.webp';
const defaultBrandSrc = 'assets/img/misc/small-logo.png';

const speakerImage = imgSrc || defaultImgSrc;
const brandImage = speakerBrand || defaultBrandSrc;
---

<a href={link ? link : 'javascript:void(0);'} class="card-body">
  <div class="speaker">
    <img src={speakerImage} alt={speakerName} class="speaker-avatar" />
    <h3 class="speaker-name">{speakerName}</h3>
  </div>
  <p class="card-info">{speakerInfo}</p>
  <img src={brandImage} alt="speaker-brand" class="speaker-brand" />
</a>

<style>
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    gap: 1rem;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid var(--black);
    text-decoration: none;
    background-color: var(--gray-50);
    color: var(--black);
    transition: transform 0.3s;

    .speaker {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .speaker-avatar {
    width: 85px;
    aspect-ratio: 1;
    border: 1px solid var(--white);
    border-radius: 100%;
    filter: grayscale(1);
    transition: filter 0.3s;

    .card-body:hover & {
      filter: grayscale(0);
    }
  }

  .speaker-brand {
    filter: grayscale(1);
    transition: filter 0.3s;
    object-fit: cover;
    max-width: 200px;
    margin: 0 auto;

    .card-body:hover & {
      filter: grayscale(0);
    }
  }

  .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    text-wrap: pretty;
  }

  @media (width <= 768px) {
    .card-body {
      min-width: 100%;
    }
  }
</style>
