---
import { Button, SpeakerCard } from '@components';

const speakers = [
  {
    imgSrc: '',
    speakerName: 'Estefany Aguilar',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: '',
    link: '#'
  },
  {
    imgSrc: 'assets/img/speakers/midudev/midudev.webp',
    speakerName: 'Miguel Ángel Durán',
    speakerInfo: '¡El Futuro de la Web! Lo nuevo de JavaScript, HTML y CSS',
    speakerBrand: 'assets/img/speakers/midudev/midulogo.webp',
    link: '#'
  },
  {
    imgSrc: 'assets/img/speakers/lewis-liu/lewis-liu-1.webp',
    speakerName: 'Lewis Liu',
    speakerInfo: 'Building the world´s fastest JavaScript bundler... with JavaScript!?',
    speakerBrand: '',
    link: '#'
  },
  {
    imgSrc: '',
    speakerName: 'Rita Kozlov',
    speakerInfo: 'Building a platform for 2 Million Developers',
    speakerBrand: '',
    link: '#'
  },
  {
    imgSrc: 'assets/img/speakers/maja-wichrowska/maja-wichrowska-1.webp',
    speakerName: 'Maja Wichrowska',
    speakerInfo: 'Codemods in the Era of AI',
    speakerBrand: '',
    link: '#'
  },
  {
    imgSrc: 'assets/img/speakers/juan-pablo-ortiz/juan-pablo-ortiz-1.webp',
    speakerName: 'Juan Pablo Ortiz',
    speakerInfo: 'Multithread in Javascript with web workers',
    speakerBrand: '',
    link: '#'
  }
];
---

<section class="speakers">
  <div class="speakers-info">
    <h2>NUESTROS CHARLISTAS</h2>
    <p>
      Unete a la primera edición de las más prestigiosa conferencia de Javascript con exponentes
      nacionales e internacionales
    </p>
  </div>

  <div class="speakers-wrapper">
    {
      speakers.map(speaker => (
        <SpeakerCard
          imgSrc={speaker.imgSrc}
          speakerName={speaker.speakerName}
          speakerInfo={speaker.speakerInfo}
          speakerBrand={speaker.speakerBrand}
          link={speaker.link}
        />
      ))
    }
  </div>

  <Button icon="arrow-up-right" link="/charlistas">Ver más</Button>
</section>

<style>
  .speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 8rem auto;

    & .speakers-info {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & p {
        text-align: center;
      }
    }

    & .speakers-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }

  @media (width <= 768px) {
    .speakers {
      & .speakers-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }
</style>
