---
import SpeakerCard from '@components/SpeakerCard.astro';

const speakers = [
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  },
  {
    imgSrc: 'imgs/midudev.png',
    speakerName: 'Miguel Ángel "Midudev" Durán',
    speakerInfo: 'Ingeniero de Software y Divulgador de Programación',
    speakerBrand: 'imgs/midulogo.png',
    link: '#'
  }
];
---

<div class="speakers-wrapper">
  {
    speakers.map(speaker => (
      <SpeakerCard
        imgSrc={speaker.imgSrc}
        speakerName={speaker.speakerName}
        speakerInfo={speaker.speakerInfo}
        speakerBrand={speaker.speakerBrand}
        link={speaker.link}
      />
    ))
  }
</div>

<style>
  .speakers-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
</style>
