---
import type { GetStaticPaths } from 'astro';
import { Icon } from 'astro-icon/components';
import EventContent from '@components/EventCard.astro';
import Layout from '@layouts/Layout.astro';
import charlistasData from '../../data/speakers/charlistas.json';

export const getStaticPaths = (() => {
  const paths = charlistasData.map(charlista => ({
    params: { charlistas: charlista.slug }
  }));
  return paths;
}) satisfies GetStaticPaths;

const { charlistas } = Astro.params;

const charlistaDetails = charlistasData.find(charlista => charlista.slug === charlistas);
---

<Layout
  title={`JSConf Chile 2024 | ${charlistaDetails?.fullName || 'Charlista'}`}
  description="Conoce a los charlistas de JSConf Chile 2024. Descubre a los expertos en JavaScript y desarrollo web que estarán compartiendo sus conocimientos del 5 al 7 de diciembre en Santiago. ¡Explora sus perfiles y temas!"
>
  <div class="speaker-wrapper">
    <div class="speaker">
      <div class="cover-section">
        <img
          src=`../${charlistaDetails?.imgSrc}`
          alt={charlistaDetails?.nickName}
          class="cover-square"
        />
        <div class="cover-center">
          <img src=`../${charlistaDetails?.imgSrc2}` alt={charlistaDetails?.nickName} />
          <img src=`../${charlistaDetails?.imgSrc3}` alt={charlistaDetails?.nickName} />
        </div>
        <img
          src=`../${charlistaDetails?.imgSrc4}`
          alt={charlistaDetails?.nickName}
          class="cover-square"
        />
      </div>
      <div>
        <h1 class="speaker-name">{charlistaDetails?.fullName || 'Nombre no encontrado'}</h1>
        <div class="speaker-info">
          <span>{charlistaDetails?.nickName}</span>
          <p>{charlistaDetails?.speakerInfo}</p>
        </div>
        <div class="social-links">
          <a href={charlistaDetails?.linkedin}><Icon name="linkedin" /></a>
          <a href={charlistaDetails?.instagram}><Icon name="instagram" /></a>
          <a href={charlistaDetails?.twitter}><Icon name="twitter" /></a>
        </div>
      </div>
    </div>
    <div class="content">
      <p>{charlistaDetails?.bio || 'Biografía no disponible'}</p>

      <div class="event-speaker">
        {
          charlistaDetails?.event.map(event => (
            <EventContent
              eventType={event.eventType}
              eventTitle={event.eventTitle}
              eventDate={event.eventDate}
              eventHour={event.eventHour}
              eventEquipment={event.eventEquipment}
              eventBrief={event.eventBrief}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .speaker-wrapper {
    width: 90%;
    margin: 2rem auto;
  }

  .speaker {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cover-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .cover-square {
    border-radius: 1rem;
  }

  .cover-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }

  .speaker-name {
    text-align: left;
  }

  .speaker-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.125rem;

    span {
      font-weight: 700;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      color: var(--yellow);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    p {
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .event-speaker {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .card-event {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(0.07deg, rgba(80, 72, 29, 0.2) 0.03%, rgba(0, 0, 0, 0) 95.96%),
      radial-gradient(
        95.25% 166.54% at 98.39% 2.85%,
        rgba(54, 53, 38, 0.62) 8%,
        rgba(9, 9, 7, 0) 80%
      );
  }

  @media (max-width: 1200px) {
    .cover-square {
      width: 35%;
    }
  }

  @media (max-width: 768px) {
    .speaker-wrapper {
      width: 100%;
    }

    .cover-square {
      width: 100%;
    }

    .speaker {
      flex-direction: column-reverse;
    }

    .cover-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .speaker-name {
      text-align: center;
    }

    .speaker-info {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .social-links {
      justify-content: center;
    }

    .content {
      flex-direction: column;

      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .event-speaker {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }

    .card-event {
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }
</style>
