---
import Button from './Button.astro';

const slideItem = [
  {
    title: 'Woman Tech Makers',
    image: '/assets/wtm-chile.avif'
  },
  {
    title: 'Community OS',
    image: '/assets/community-os.avif'
  },
  {
    title: '9 punto 5',
    image: '/assets/9p5.avif'
  }
];
---

<div class="slider-container">
  <div class="slider-wrap">
    <div class="slider">
      {
        slideItem.map((slideItem: { image: string; title: string }) => (
          <div>
            <img src={slideItem.image} alt={slideItem.title} />
            <Button link="#" variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
    <div class="slider">
      {
        slideItem.map((slideItem: { image: string; title: string }) => (
          <div>
            <img src={slideItem.image} alt={slideItem.title} />
            <Button link="#" variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
    <div class="slider">
      {
        slideItem.map((slideItem: { image: string; title: string }) => (
          <div>
            <img src={slideItem.image} alt={slideItem.title} />
            <Button link="#" variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .slider-container {
    width: auto;
    max-width: 1280px;
    overflow: hidden;
    margin: 3rem auto;

    @media (width <= 768px) {
      max-width: 85dvw;
    }

    & .slider-wrap {
      display: flex;

      &:hover {
        .slider {
          animation-play-state: paused;
        }
      }
    }
  }

  .slider {
    display: flex;
    flex-shrink: 0;
    animation-name: swiperAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    & div {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slider img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @keyframes swiperAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
