---
import Button from './Button.astro';

const slideItem = [
  {
    title: 'Woman Tech Makers',
    image: '/assets/img/communities/wtm-chile.avif',
    url: 'https://www.instagram.com/wtmchile'
  },
  {
    title: 'Community OS',
    image: '/assets/img/communities/community-os.avif',
    url: 'https://communityos.io'
  },
  {
    title: '9 punto 5',
    image: '/assets/img/communities/9p5.avif',
    url: 'https://9punto5.cl'
  },
  {
    title: 'JavaScript Chile',
    image: '/assets/img/communities/JSChile.avif',
    url: 'https://jschile.org'
  },
  {
    title: '+ Mujeres UX',
    image: '/assets/img/communities/+mujeresux.avif',
    url: 'https://www.instagram.com/masmujeresux.cl'
  }
];
---

<div class="slider-container">
  <div class="slider-wrap">
    <div class="slider">
      {
        slideItem.map((slideItem: { image: string; title: string; url: string }) => (
          <div>
            <img src={slideItem.image} alt={slideItem.title} />
            <Button link={slideItem.url} variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
    <div class="slider">
      {
        slideItem.map((slideItem: { image: string; title: string; url: string }) => (
          <div>
            <img src={slideItem.image} alt={slideItem.title} />
            <Button link={slideItem.url} variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .slider-container {
    width: auto;
    max-width: 1280px;
    overflow: hidden;
    margin: 3rem auto;

    @media (width <= 768px) {
      max-width: 85dvw;
    }

    & .slider-wrap {
      display: flex;

      &:hover {
        .slider {
          animation-play-state: paused;
        }
      }
    }
  }

  .slider {
    display: flex;
    flex-shrink: 0;
    animation-name: swiperAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    & div {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slider img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @keyframes swiperAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
