---
import StaffCard from '@components/StaffCard.astro';

const staffData = [
  {
    imgSrc: '/volunteer/miguel-colmenarez.avif',
    staffName: 'Miguel Colmenarez',
    linkedinLink: 'https://www.linkedin.com/in/colmedev/',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/colmedev'
  },
  {
    imgSrc: '/volunteer/felix-icaza.avif',
    staffName: 'Félix Icaza',
    linkedinLink: 'https://linkedin.com/in/felixicaza',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/felixicaza'
  },
  {
    imgSrc: '/volunteer/facundo-dandrea.avif',
    staffName: 'Facundo D´Andrea',
    linkedinLink: 'https://www.linkedin.com/in/facundo-d-andrea/',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/Facundodandrea'
  },
  {
    imgSrc: '/volunteer/jaime-gutierrez.avif',
    staffName: 'Jaime Gutiérrez',
    linkedinLink: 'https://linkedin.com/in/jagcruz',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/jagcruz'
  },
  {
    imgSrc: '/volunteer/luis-tenorio.avif',
    staffName: 'Luis Tenorio',
    linkedinLink: 'https://www.linkedin.com/in/luis-tenorio-code',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/luis-codex'
  },
  {
    imgSrc: '/volunteer/ricardo-cuauro.avif',
    staffName: 'Ricardo Cuauro',
    linkedinLink: 'https://www.linkedin.com/in/ricardocuauro/',
    instagramLink: '',
    twitterLink: '',
    facebookLink: '',
    githubLink: 'https://github.com/odracirdev'
  }
];
---

<section class="staff">
  <div class="staff-info">
    <h2>Voluntarios</h2>
    <p>Conoce a los voluntarios que han aportado a la JSConf Chile 2024.</p>
  </div>
  <div class="staff-wrapper">
    {
      staffData.map(member => (
        <StaffCard
          imgSrc={member.imgSrc}
          staffName={member.staffName}
          linkedinLink={member.linkedinLink}
          instagramLink={member.instagramLink}
          twitterLink={member.twitterLink}
          facebookLink={member.facebookLink}
          githubLink={member.githubLink}
        />
      ))
    }
  </div>
</section>

<style>
  .staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    & .staff-info {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h2 {
        text-transform: uppercase;
      }

      & p {
        text-align: center;
      }
    }

    & .staff-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
</style>
