---
import Button from '../Button.astro';
import { sliderItems } from './data';
---

<div class="slider-container">
  <div class="slider-wrap">
    <div class="slider">
      {
        sliderItems.map(({ image, title, url }) => (
          <div>
            <img src={image} alt={title} />
            <Button link={url} variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
    <div class="slider">
      {
        sliderItems.map(({ image, title, url }) => (
          <div>
            <img src={image} alt={title} />
            <Button link={url} variant="ghost" icon="arrow-up-right">
              Ver más
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .slider-container {
    width: auto;
    max-width: 1280px;
    overflow: hidden;
    margin: 3rem auto;

    @media (width <= 768px) {
      max-width: 85dvw;
    }

    & .slider-wrap {
      display: flex;

      &:hover {
        .slider {
          animation-play-state: paused;
        }
      }
    }
  }

  .slider {
    display: flex;
    flex-shrink: 0;
    animation-name: swiperAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    & div {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slider img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  @keyframes swiperAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
